{{#if allowFullScreen}}
  <iframe
    width="100%"
    height="300px"
    src={{url}}
    allow="autoplay; encrypted-media"
    allowfullscreen
  ></iframe>
{{else}}
  <iframe
    width="100%"
    height="300px"
    src={{url}}
    allow="autoplay; encrypted-media"
  ></iframe>
{{/if}}
{{yield}}