<ul class="radio flex flex--wrap flex--aligncenter width--10">
  {{#each items as |item|}}
    {{#if (not item.hidden)}}
      <li class="radio__item {{extraClass}} {{if item.active "active"}}" {{action "clickedItem" item bubbles=false}}>
        {{#if item.text}}
          {{item.text}}
        {{else}}
          {{item.label}}
        {{/if}}
        {{#if item.probability }}
          {{item.probability}}%
        {{/if}}
      </li>
    {{/if}}
  {{/each}}
</ul>
{{yield}}