{{#if data}}
  <div class="oswald-bubble-left typing">
    {{#each resultItem.data as |message |}}
      {{#if message.visible}}
          {{message-balloon message=message sendMessage=(action "sendMessage")}}
      {{/if}}
    {{/each}}
  </div>
{{/if}}
{{#if (and allVisible resultItem.quickReplies showQuickReplies)}}
  <div class="quickreply" >
    {{#each resultItem.quickReplies as |quickReply|}}
      <button class="item" value={{quickReply.action}} {{action "pickQuickResponse" quickReply.action}}>
        {{quickReply.text}}
      </button>
    {{/each}}
  </div>
{{/if}}
{{yield}}