{{#if message.url}}
  <a href="{{message.url}}" target="_blank">
    <img class="message__image" src="{{message.image}}" width="100" height="auto" alt="" />
  </a>
{{else}}
  <img class="message__image" src="{{message.image}}" width="100" height="auto" alt="" />
{{/if}}
{{yield}}