@import "pod-styles";

    .carousel-container {
        position: relative;
        margin: auto;
        width:90%;
        overflow: visible;
    }
    
    .a-prev-carousel, .a-next-carousel {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform:translateY(-50%);
        color: white;
        font-weight: bold;
        font-size: 2em;
        left: 0;
      }
    
    .a-next-carousel {
        right: -0.5em;
        left: auto;
    }
    
    .a-prev-carousel{
        left: -0.5em;
    }
    
    .buttons-carousel {
        padding:0.5em;
        margin: 0 auto;
        display:flex;
        justify-content: space-evenly;
    }
    
    .a-button-carousel {
        border:1px solid #fff;
        font-size:1.5em;
        padding:0.5em;
        cursor: pointer;
    }



 






