{{#if (eq message.type "text")}}
  {{oswald/text-message message=message}}
{{else if (and (eq message.type "radio") (not message.disabled))}}
  {{oswald/a-radio-button
    radio=message
    items=message.elements
    label=label
    pickQuickResponse=(action "pickQuickResponse")
  }}
{{else if (eq message.type "image")}}
  {{oswald/image-message message=message}}
{{else if (eq message.type "url")}}
  {{oswald/url-message message=message}}
{{else if (eq message.type "video")}}
  {{oswald/video-message message=message}}
{{else if (eq message.type "location")}}
  {{oswald/map-message message=message}}
{{else if (eq message.type "carrousel")}}
  {{oswald/carousel-message message=message sendMessage=(action "sendMessage")}}
{{else}}
  {{oswald/json-pretty-message message=message}}
{{/if}}
{{yield}}
