{{#each allResults as |item|}}
  {{#if (eq item.type "out")}}
    {{oswald/oswald-message
      chatbot=model
      resultItem=item
      sendMessage=(action "sendMessage")
    }}
  {{else if (eq item.type "takeover")}}
    {{oswald/takeover-message message=item}}
  {{else}}
    {{oswald/user-message message=item.text}}
  {{/if}}
{{/each}}
{{#if typing}}
  {{#if typingClass}}
    {{oswald/typing-message typingClass=typingClass}}
  {{else}}
    {{oswald/typing-message}}
  {{/if}}
{{/if}}
{{yield}}