{{#carousel-container transitionInterval=100 as |carousel controls|}}
  {{#each message.elements.items as |carouselItem|}}
    {{#carousel.item}}
      <div class="carousel-container">
        <h1>
          {{carouselItem.title}}
        </h1>
        <h2>
          {{carouselItem.subtitle}}
        </h2>
        <a href="{{carouselItem.image_url}}" target="_blank">
          <img
            class="message__image"
            src="{{carouselItem.image_url}}"
            height="250px"
           />

        </a>
        <div class="buttons-carousel">
          {{#each carouselItem.buttons as |button|}}
            <a class="a-button-carousel" {{action "selectedItem" button}}>
              {{button.title}}
            </a>
          {{/each}}
        </div>
      </div>{{/carousel.item}}
  {{/each}}
  <a class="a-prev-carousel" onclick={{controls.previous}}>
    {{fa-icon "chevron-left"}}
  </a>
  <a class="a-next-carousel" onclick={{controls.next}}>
    {{fa-icon "chevron-right"}}
  </a>
{{/carousel-container}}
{{yield}}